*{
    margin: 0;
    padding: 0;
}

/* NAVBAR */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* NAVBAR */

  .nav {
    border-bottom: 2px solid #e28090;
    position: sticky;
    top: 0;
    backdrop-filter: blur(2px);
    align-items: center;
    justify-content: space-around;
  }
  
  .navbar-collapse {
    display: flex;
    align-items: flex-end;
    justify-content: end;
  }

  .navbar-nav {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
  }

  .navbar-nav li {
    margin-right: 2rem;
  }

/* TITULO */

  section#titulo {
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    margin: 3rem;
    text-align: center;
  }

  section#titulo div h1 {
    color: pink;
    font-size: xx-large;
  }

  section#titulo div h2 {
    font-size: large;
  }

  
/* CATEGORIAS */

  main {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

  div.tituloCat {
    margin: 3rem;
    text-align: center;
    border-bottom: 2px solid #e28090;
  }
  
  .categorias {
    display: flex;
    justify-content: space-between;  
  }

  .categorias div {
    padding: 2rem;
  }

/* PRODUCTOS */

  .sectionProductos {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .sectionProductos div h2 {
    
    margin: 2rem;
    text-align: center;
    border-bottom: 2px solid #e28090;
  }

  .productos div{
    padding: 1rem;
  }

/* CAROUSEL */
  
  div #carouselExampleControls {
    margin: 3rem;
    width: 95%;
    padding: 95%;
  }

  div #carouselExampleControls div.carousel-inner {
    display: block;
    margin: auto;
    width: 100%;
    height: fit-content;
  }

/* FORMULARIO DE CONTRACTO */

.form-group {
    margin-bottom: 1rem;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
 }

.formCont {
  margin: 3rem;
  padding: 1rem;
  border: #e28090 solid 3px;
}

.contacto {
  margin-bottom: 1.5rem;

}

/* FOOTER */

footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 3px solid #e28090;

}

.footer {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    padding: 1rem;

      }

.redes {
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.redes a {
  margin-left: 1rem;
  color: black;
  
}

.redes a i {
  width: 30px;
  height: 30px;
}



  

/* ICONO WPP */

.btn-wsp {
  position: fixed;
  width: 55px;
  height: 55px;
  line-height: 55px;
  bottom: 30px;
  right: 30px;
  background: #0df053 ;
  color: white;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 3);
  z-index: 100;

  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.btn-wsp:hover {
  text-decoration: none ;
  color: #0df053;
  background: white;
}



  
  @media only screen and (min-width: 1024px) {
    .footer {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }
  


